---
---

@import "{{ site.theme }}";

body
{
  color: #fff;
  background-color: #282828;
}

.container-lg
{
  max-width: 800px;
}

.wrapper
{
  max-width: 800px;
}

section
{
  max-width: 800px;
}

.markdown-body hr
{
  height: 1px;
}

/* HEADINGS */
  .markdown-body h1
  {
    padding-bottom: 0.3em;
    font-weight: normal;
    font-size: 2em;
    border: none;
  }

  .markdown-body h2
  {
    padding-bottom: 0.3em;
    font-size: 1.5em;
    border: none;
  }

  h3
  {
    font-size: 25px;
  }

/* LINKS */
  a
  {
    text-decoration: underline;
  }

  a:link
  {
    color: #1fff4f;
  }

  a:active
  {
    color: #68ff88
  }

  a:hover
  {
    color: #68ff88;
  }

  a:visited
  {
    color: #1fff4f;
  }

/* IMAGES */
  img.media
  {
    max-width: 40px;
    max-height: 40px;
    float: right;
    background-color: transparent;
  }

  img.icon
  {
    max-width: 125px;
    max-height: 125px;
    float: left;
    background-color: transparent;
  }

  img.badge
  {
    max-width: 135px;
    max-height: 40px;
    background-color: transparent;
  }

  img.landscape
  {
    width: 250px;
    height: 150px;
  }

  img.portrait
  {
    width: 150px;
    height: 250px;
  }

/* PORTFOLIO CONTENT BLOCK */
  div.block
  {
    display: inline-block;
    margin-bottom: 5px;
  }

  div.block h3
  {
    padding-left: 140px;
  }
  
  div.block ul
  {
    margin-left: 120px;
  }

  .content 
  {
    margin: auto;
    max-width: 660px;
    overflow: hidden;
  }

/* NAVIGATION BAR */
  .markdown-body li+li
  {
    margin-top: 0px
  }

  ul.nav
  {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
  }

  li.nav 
  {
      float: left;
      margin-top: 0em;
  }

  li.nav a 
  {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

  li.nav a:hover 
  {
      background-color: #111;
  }

  /* Change the link color to #111 (black) on hover */
  li.nav a:hover 
  {
      background-color: #111;
  } 