---
---

@import "{{ site.theme }}";

body
{
  color: #fff;
  background-color: #282828;
}

.container-lg
{
  max-width: 800px;
}

.wrapper
{
  max-width: 800px;
}

section
{
  max-width: 800px;
}

h2
{
  font-size: 28px;
}

h3
{
  font-size: 25px;
  padding-left: 140px;
}

a
{
  text-decoration: underline;
}

a:link
{
  color: #1fff4f;
}

a:active
{
  color: #1fff4f;
}

a:hover
{
  color: #68ff88;
}

a:visited
{
  color: #06de34;
}

img.icon
{
  max-width: 125px;
  max-height: 125px;
  float: left;
  background-color: transparent;
}

img.badge
{
  max-width: 135px;
  max-height: 40px;
  background-color: transparent;
}

img.landscape
{
  width: 250px;
  height: 150px;
}

img.portrait
{
  width: 150px;
  height: 250px;
}

div.block
{
  display: inline-block;
  margin-bottom: 5px;
}

ul
{
  margin-left: 120px;
}

.content 
{
  margin: auto;
  max-width: 660px;
  overflow: hidden;
}