---
---

@import "{{ site.theme }}";

body 
{
  font-family: 'Tangerine', serif;
}

.container-lg
{
  max-width: 800px;
}

.wrapper
{
  max-width: 800px;
}

section
{
  max-width: 800px;
}

h2
{
  font-size: 28px;
}

h3
{
  font-size: 25px;
  padding-left: 140px;
}

img.icon
{
  max-width: 125px;
  max-height: 125px;
  float: left;
}

img.badge
{
  max-width: 135px;
  max-height: 40px;
}

img.landscape
{
  width: 250px;
  height: 150px;
}

img.portrait
{
  width: 150px;
  height: 250px;
}

div.block
{
  display: inline-block;
  margin-bottom: 5px;
}

ul
{
  margin-left: 120px;
}

.content 
{
  margin: auto;
  max-width: 660px;
  overflow: hidden;
}